In [2]:
# dependencies

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as stats

### Bring in the CSVs going back 3 years

In [5]:
# load the files

folder = "extracted_csvs/"
rest_of_file = "-citibike-tripdata.csv"

#bike_2016_07 = folder + "201607" + rest_of_file
#bike_2016_08 = folder + "201608" + rest_of_file
#bike_2016_09 = folder + "201609" + rest_of_file
#bike_2016_10 = folder + "201610" + rest_of_file
#bike_2016_11 = folder + "201611" + rest_of_file
#bike_2016_12 = folder + "201612" + rest_of_file
#bike_2017_01 = folder + "201701" + rest_of_file
#bike_2017_02 = folder + "201702" + rest_of_file
#bike_2017_03 = folder + "201703" + rest_of_file
# bike_2017_04 = folder + "201704" + rest_of_file
# bike_2017_05 = folder + "201705" + rest_of_file
# bike_2017_06 = folder + "201706" + rest_of_file
# bike_2017_07 = folder + "201707" + rest_of_file
# bike_2017_08 = folder + "201708" + rest_of_file
# bike_2017_09 = folder + "201709" + rest_of_file
# bike_2017_10 = folder + "201710" + rest_of_file
# bike_2017_11 = folder + "201711" + rest_of_file
# bike_2017_12 = folder + "201712" + rest_of_file
# bike_2018_01 = folder + "201801" + rest_of_file
# bike_2018_02 = folder + "201802" + rest_of_file
# bike_2018_03 = folder + "201803" + rest_of_file
# bike_2018_04 = folder + "201804" + rest_of_file
# bike_2018_05 = folder + "201805" + rest_of_file
# bike_2018_06 = folder + "201806" + rest_of_file
# bike_2018_07 = folder + "201807" + rest_of_file
# bike_2018_08 = folder + "201808" + rest_of_file
# bike_2018_09 = folder + "201809" + rest_of_file
# bike_2018_10 = folder + "201810" + rest_of_file
# bike_2018_11 = folder + "201811" + rest_of_file
# bike_2018_12 = folder + "201812" + rest_of_file
# bike_2019_01 = folder + "201901" + rest_of_file
# bike_2019_02 = folder + "201902" + rest_of_file
# bike_2019_03 = folder + "201903" + rest_of_file
# bike_2019_04 = folder + "201904" + rest_of_file
bike_2019_05 = folder + "201905" + rest_of_file
bike_2019_06 = folder + "201906" + rest_of_file
bike_2019_07 = folder + "201907" + rest_of_file

### May 19 to July 199

In [6]:
# read files into dataframe for DF5
df_2019_05 = pd.read_csv(bike_2019_05)
df_2019_05.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,139,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,447,8 Ave & W 52 St,40.763707,-73.985162,423,W 54 St & 9 Ave,40.765849,-73.986905,31170,Subscriber,1983,1
1,754,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,3258,W 27 St & 10 Ave,40.750182,-74.002184,3255,8 Ave & W 31 St,40.750585,-73.994685,25560,Customer,1969,0
2,2308,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3676,Van Brunt St & Van Dyke St,40.675833,-74.014726,33369,Subscriber,1978,1
3,143,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,3486,Schermerhorn St & Bond St,40.688417,-73.984517,3412,Pacific St & Nevins St,40.685376,-73.983021,32041,Subscriber,1997,1
4,138,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,388,W 26 St & 10 Ave,40.749718,-74.002950,494,W 26 St & 8 Ave,40.747348,-73.997236,35237,Subscriber,1967,1

In [7]:
# get # of rows
df_1905_rows = df_2019_05.count()
print(df_1905_rows)

tripduration               1924563
starttime                  1924563
stoptime                   1924563
start station id           1924563
start station name         1924563
start station latitude     1924563
start station longitude    1924563
end station id             1924563
end station name           1924563
end station latitude       1924563
end station longitude      1924563
bikeid                     1924563
usertype                   1924563
birth year                 1924563
gender                     1924563
dtype: int64

In [8]:
# read files into dataframe for DF5
df_2019_06 = pd.read_csv(bike_2019_06)
df_2019_06.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1
1,830,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2
2,380,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2
3,1155,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1
4,1055,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1

In [9]:
# get # of rows
df_1906_rows = df_2019_06.count()
print(df_1906_rows)

tripduration               2125370
starttime                  2125370
stoptime                   2125370
start station id           2125370
start station name         2125370
start station latitude     2125370
start station longitude    2125370
end station id             2125370
end station name           2125370
end station latitude       2125370
end station longitude      2125370
bikeid                     2125370
usertype                   2125370
birth year                 2125370
gender                     2125370
dtype: int64

In [11]:
# use concat to append the rows of the dfs
concat_30 = pd.concat([df_2019_05, df_2019_06], sort=True)
# reset the index of the new DF
concat_30.reset_index()
concat_30.head()

,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,31170,1983,423,40.765849,-73.986905,W 54 St & 9 Ave,1,447,40.763707,-73.985162,8 Ave & W 52 St,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,139,Subscriber
1,25560,1969,3255,40.750585,-73.994685,8 Ave & W 31 St,0,3258,40.750182,-74.002184,W 27 St & 10 Ave,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,754,Customer
2,33369,1978,3676,40.675833,-74.014726,Van Brunt St & Van Dyke St,1,3093,40.717452,-73.958509,N 6 St & Bedford Ave,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,2308,Subscriber
3,32041,1997,3412,40.685376,-73.983021,Pacific St & Nevins St,1,3486,40.688417,-73.984517,Schermerhorn St & Bond St,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,143,Subscriber
4,35237,1967,494,40.747348,-73.997236,W 26 St & 8 Ave,1,388,40.749718,-74.002950,W 26 St & 10 Ave,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,138,Subscriber

In [12]:
# get # of rows for concatenate
concat_30_rows = concat_30.count()
print(concat_30_rows)

bikeid                     4049933
birth year                 4049933
end station id             4049933
end station latitude       4049933
end station longitude      4049933
end station name           4049933
gender                     4049933
start station id           4049933
start station latitude     4049933
start station longitude    4049933
start station name         4049933
starttime                  4049933
stoptime                   4049933
tripduration               4049933
usertype                   4049933
dtype: int64

In [13]:
# read files into dataframe
df_2019_07 = pd.read_csv(bike_2019_07)
df_2019_07.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,897,2019-07-01 00:00:00.1320,2019-07-01 00:14:58.0040,493.0,W 45 St & 6 Ave,40.756800,-73.982912,454.0,E 51 St & 1 Ave,40.754557,-73.965930,18340,Subscriber,1966,1
1,267,2019-07-01 00:00:05.1780,2019-07-01 00:04:32.4500,3143.0,5 Ave & E 78 St,40.776321,-73.964274,3226.0,W 82 St & Central Park West,40.782750,-73.971370,21458,Customer,1996,1
2,2201,2019-07-01 00:00:05.2130,2019-07-01 00:36:46.7490,317.0,E 6 St & Avenue B,40.724537,-73.981854,3469.0,India St & West St,40.731814,-73.959950,39874,Subscriber,1986,1
3,1660,2019-07-01 00:00:08.6010,2019-07-01 00:27:48.8050,249.0,Harrison St & Hudson St,40.718710,-74.009001,369.0,Washington Pl & 6 Ave,40.732241,-74.000264,38865,Subscriber,1988,1
4,109,2019-07-01 00:00:12.1580,2019-07-01 00:02:01.5670,3552.0,W 113 St & Broadway,40.805973,-73.964928,3538.0,W 110 St & Amsterdam Ave,40.802692,-73.962950,30256,Subscriber,1997,1

In [14]:
# get # of rows
df_1907_rows = df_2019_07.count()
print(df_1907_rows)

tripduration               2181064
starttime                  2181064
stoptime                   2181064
start station id           2181010
start station name         2181010
start station latitude     2181064
start station longitude    2181064
end station id             2181010
end station name           2181010
end station latitude       2181064
end station longitude      2181064
bikeid                     2181064
usertype                   2181064
birth year                 2181064
gender                     2181064
dtype: int64

In [15]:
# use concat to append the files
concat_31 = pd.concat([concat_30, df_2019_07], sort=True)
# reset the index of the new DF
concat_31.reset_index()
concat_31.head()

,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,31170,1983,423.0,40.765849,-73.986905,W 54 St & 9 Ave,1,447.0,40.763707,-73.985162,8 Ave & W 52 St,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,139,Subscriber
1,25560,1969,3255.0,40.750585,-73.994685,8 Ave & W 31 St,0,3258.0,40.750182,-74.002184,W 27 St & 10 Ave,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,754,Customer
2,33369,1978,3676.0,40.675833,-74.014726,Van Brunt St & Van Dyke St,1,3093.0,40.717452,-73.958509,N 6 St & Bedford Ave,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,2308,Subscriber
3,32041,1997,3412.0,40.685376,-73.983021,Pacific St & Nevins St,1,3486.0,40.688417,-73.984517,Schermerhorn St & Bond St,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,143,Subscriber
4,35237,1967,494.0,40.747348,-73.997236,W 26 St & 8 Ave,1,388.0,40.749718,-74.002950,W 26 St & 10 Ave,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,138,Subscriber

In [16]:
# get # of rows for concatenate
concat_31_rows = concat_31.count()
print(concat_31_rows)

bikeid                     6230997
birth year                 6230997
end station id             6230943
end station latitude       6230997
end station longitude      6230997
end station name           6230943
gender                     6230997
start station id           6230943
start station latitude     6230997
start station longitude    6230997
start station name         6230943
starttime                  6230997
stoptime                   6230997
tripduration               6230997
usertype                   6230997
dtype: int64

In [17]:
# Rename the columns to be consistent with the expect
# I need to rename the column headings in the old dataframe to the new format.

concat_31 = concat_31.rename(columns={'tripduration':'Trip Duration', 'startime':'Start Time', \
                         'stoptime':'Stop Time', 'start station id':'Start Station ID', \
                         'start station name':'Start Station Name', \
                         'start station latitude':'Start Station Latitude', \
                         'start station longitude':'Start Station Longitude', \
                         'end station id':'End Station ID', \
                         'end station name':'End Station Name', \
                         'end station latitude':'End Station Latitude', \
                         'end station longitude':'End Station Longitude', \
                         'bikeid':'Bike ID', \
                         'usertype':'User Type', \
                         'birth year':'Birth Year', \
                         'gender':'Gender'})
# check to see if columns are retitled
concat_31.head()

,Bike ID,Birth Year,End Station ID,End Station Latitude,End Station Longitude,End Station Name,Gender,Start Station ID,Start Station Latitude,Start Station Longitude,Start Station Name,starttime,Stop Time,Trip Duration,User Type
0,31170,1983,423.0,40.765849,-73.986905,W 54 St & 9 Ave,1,447.0,40.763707,-73.985162,8 Ave & W 52 St,2019-05-01 00:00:01.9010,2019-05-01 00:02:21.5170,139,Subscriber
1,25560,1969,3255.0,40.750585,-73.994685,8 Ave & W 31 St,0,3258.0,40.750182,-74.002184,W 27 St & 10 Ave,2019-05-01 00:00:03.0210,2019-05-01 00:12:37.6920,754,Customer
2,33369,1978,3676.0,40.675833,-74.014726,Van Brunt St & Van Dyke St,1,3093.0,40.717452,-73.958509,N 6 St & Bedford Ave,2019-05-01 00:00:04.6270,2019-05-01 00:38:33.1710,2308,Subscriber
3,32041,1997,3412.0,40.685376,-73.983021,Pacific St & Nevins St,1,3486.0,40.688417,-73.984517,Schermerhorn St & Bond St,2019-05-01 00:00:19.3340,2019-05-01 00:02:42.5200,143,Subscriber
4,35237,1967,494.0,40.747348,-73.997236,W 26 St & 8 Ave,1,388.0,40.749718,-74.002950,W 26 St & 10 Ave,2019-05-01 00:00:22.1840,2019-05-01 00:02:40.6480,138,Subscriber

In [18]:
# export to csv
concat_31.to_csv("concat_31_201905_201907.csv", index=False, header=True)